@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: url('../img/bg.gif') no-repeat center center fixed;
    background-size: cover;
}
.navbar{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #202a30;
}
.navbar img{
    display: flex;
    align-items: center;
    height: 80px;
    animation: shake 5s ease-in-out infinite;
}
@keyframes shake{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-style: italic;
}
.navbar nav ul li{
    margin-left: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #748d92;
    transition: background-color 0.3s, color 0.3s;
}
.navbar nav ul li a:hover{
    color: #124e65;
}
#about{
    color: #124e65;
    font-weight: 700;
}
.resume-container{
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 3s forwards;
    transition: all 0.3s ease-in-out;
    font-family: "Open Sans", sans-serif;
}
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}
.resume-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.profile-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.profile-image{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse{
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.profile-info{
    text-align: center;
}
.profile-info h1{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.profile-info p{
    color: white;
    font-weight: 300;
}
.resume-content{
    flex-grow: 1;
}
.feu_tech{
    font-style: italic;
}
.feu_1{
    color: #ffc20e;
    font-weight: 500;
    text-shadow: 2px 2px 2px #009900;
}
.sacre{
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 2px #fe0002;
}
.gk{
    color: #e9a530;
    font-weight: 500;
}
.airbnb{
    color: #ff5960;
    font-weight: 500;
}
.resume-content .year{
    font-style: italic;
}
.resume-content h1{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}
.resume-content h2{
    color: #ffffff;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.resume-content h3{
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.resume-content p{
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
}
.resume-content ul{
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
}
.social-media{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.icon{
    color: #ffffff;
    margin: 0 15px;
    transition: transform 0.3s;
    animation: fadeIn 2s ease-in;
}
.icon:hover{
    transform: scale(1.2) rotate(15deg);
}

.icon i{
    transition: color 0.3s;
}
.icon:hover i{
    color: #124e66;
}
.footer{
    padding: 1rem 2rem;
    background: #202a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer p{
    font-weight: 600;
    color: white;
    margin: 0;
}
.footer img{
    height: 3rem;
    animation: shake 5s ease-in-out infinite;
}
@keyframes shake{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}