@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}
.navbar{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #202a30;
}
.navbar img{
    display: flex;
    align-items: center;
    height: 80px;
    animation: shake 5s ease-in-out infinite;
}
@keyframes shake{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-style: italic;
}
.navbar nav ul li{
    margin-left: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #748d92;
    transition: background-color 0.3s, color 0.3s;
}
.navbar nav ul li a:hover{
    color: #124e65;
}
#home{
    color: #124e65;
    font-weight: 700;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn .8s ease-in-out;
    flex-direction: row-reverse;
}
.about-content{
    max-width: 60%;
    text-align: right;
}
.about-content h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0, .8);
    animation: fadeIn 2s ease-in-out;
}
.about-content p{
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}
.buttons{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
.buttons .btn{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1em;
    animation: fadeIn 2s ease-in-out;
}
.buttons .btn.first{
    background-color: #748d92;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}
.buttons .btn.first:hover{
    background-color: #124e65;
    color: #ffffff;
}
.buttons .btn.second{
    background-color: #748d92;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.buttons .btn.second:hover{
    background-color: #124e65;
    color: #ffffff;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.footer{
    font-family: "Roboto", sans-serif;
    background-color: #2f3843;
    color: #ffffff;
    padding: 5px 5px;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section{
    flex: 1;
    padding: 5px;
    color: #ffffff;
}
.footer-section a{
    color: #ffffff;
    font-style: italic;
}
.footer-section h3{
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
}
.footer-section p{
    font-size: 1.1em;
    margin-bottom: 10px;
}
.social-icons{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.social-icons .social-icon{
    color: #124e65;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}
.social-icons i{
    font-size: 30px;
    margin: 10px;
    transition: .5s;
    color: #d4d9d5;
}
.social-icons i:hover{
    color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.footer-bottom{
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}