body{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: url('../img/bg.gif') no-repeat center center fixed;
    background-size: cover;
}
.navbar{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #202a30;
}
.navbar img{
    display: flex;
    align-items: center;
    height: 80px;
    animation: shake 5s ease-in-out infinite;
}
@keyframes shake{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
.navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-style: italic;
}
.navbar nav ul li{
    margin-left: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #748d92;
    transition: background-color 0.3s, color 0.3s;
}
.navbar nav ul li a:hover{
    color: #124e65;
}
#contacts{
    color: #124e65;
    font-weight: 700;
}
.contact{
    display: flex;
    padding: 80px 0;
    color: #e2dfd5;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.socials-box{
    background-color: rgb(116, 141, 146, 0.7);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
}
.contact-box{
    background-color: rgb(116, 141, 146, 0.7);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
}
.socials{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.socials a{
    color: #e2dfd5;
    font-size: 54px;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.socials a:hover{
    color: #202a30;
}
.heading{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}
.heading span{
    color: #202a30;
}
.contact-box form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.contact-box input{
    width: 90%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #e2dfd5;
}
.contact-box textarea{
    width: 90%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.contact-box textarea{
    resize: vertical;
    background-color: #e2dfd5;
}
.contact-box button{
    background-color: #202a30;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-box button:hover{
    background-color: #e2dfd5;
    color: #202a30;
}
.footer{
    font-family: "Roboto", sans-serif;
    padding: 1rem 2rem;
    background: #202a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer p{
    font-weight: 600;
    color: white;
    margin: 0;
}
.footer img{
    height: 3rem;
    animation: shake 5s ease-in-out infinite;
}
@keyframes shake{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}